@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto+Mono:ital,wght@0,100;0,500;1,700&display=swap');
h1 {
    font-size: 40;
    font-family: 'Lemon', serif;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

.text-color {
    font-weight: 700;
    background-color: purple
}

#subtitle {
    color: white;
    font-weight: 100;
}

.titulo-rojo {
    color: green;
    background-color: red;
}

#cuarto-titulo {
    color: white
}

.color-titulo {
    color: blue;
}

#contenedor-foto-de-perfil {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.1);
}

#foto-de-perfil {
    width: 100%;
    height: auto;
}